SERVER_PORT=8080

DATABASE_PATH=mongodb://localhost:27017/your_database_name

SECRET_KEY=your_secret_key

IMAGEKIT_PUBLIC=your_imagekit_public_key
IMAGEKIT_PRIVATE=your_imagekit_private_key
IMAGEKIT_URLENDPOINT=your_imagekit_url_endpoint